<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.gestionaleauto.SocialShare"
    version="0.0.2">
	
	<engines>
		<engine name="cordova" version=">=3.1.0" />
	</engines>

	<name>Social Share</name>
	
	<description>Sends a snippet of text (or just an url for Facebook) to be shared via an android intent to a bunch of whitelisted applications: Facebook, System mail, Gmail, Twitter official, Twidroid, Tweecaster, TweetDeck, WhatsApp</description>

	<author>Andrea Casaccia acasaccia@gmail.com</author>

	<keywords>social, share, facebook, twitter, whatsapp, sms, mail</keywords>

	<license>GNU LESSER GENERAL PUBLIC LICENSE</license>

	<js-module src="www/SocialShare.js" name="SocialShare">
   		<clobbers target="SocialShare" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/SocialShare.java" target-dir="src/com/gestionaleauto/" />
					
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SocialShare" >
				<param name="android-package" value="com.gestionaleauto.SocialShare"/>
			</feature>
		</config-file>
	</platform>
	
</plugin>

